<header id="fh5co-header" role="banner">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="navbar-header">
          <!-- Mobile Toggle Menu Button -->
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fa fa-rocket"></i> Rocket
          <% end %>
          </div>



          <div id="fh5co-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class=<%= active_link?(root_path) %>>
                <%= link_to "Home", root_path %>
              </li>
              <li class=<%= active_link?(projects_path) %>>
                <%= link_to "Projects", projects_path %>
              </li>
              <li class=<%= active_link?(contact_path) %>>
                <%= link_to "Contacts", contact_path %>
              </li>
              <% if !current_user %>
                <li>
                  <%= link_to login_path do %>
                    <i class="fa fa-sign-in"></i>
                  <% end %>
                </li>
              <% end %>
              <% if current_user %>
                <% if current_user.admin? %>
                  <li class=<%= active_link?(admin_dashboard_path) %>>
                    <%= link_to "Admin", admin_dashboard_path %>
                  </li>
                <% end %>
                <li>
                  <%= link_to logout_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
