<!DOCTYPE html>
<html>
<head>
  <title><%= @content.logo_text%> | Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- meta info -->
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
</head>

<body>

  <%= render 'shared/header' %>

  <div id="fh5co-main">
    <div id="fh5co-content">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <%= value %>
                </div>
              <% end %>
            <div class="row">
              <div class="col-sm-3">
                <%= render 'shared/admin_dashboard_menu' %>
              </div>
              <div class="col-sm-9">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <%= render 'shared/footer' %>
  </div>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
