<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>

  <!-- meta info -->
  <meta name=description content="<%= yield(:description) %>"/>
  <meta name=keywords content="<%= yield(:keywords) %>"/>
    <!-- Google Webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
  <!-- Google verify link -->
  <meta name="google-site-verification" content="Ga9Ta4_a-Tw-qY1X_MeBgkiSWRTUZXUHL-7O09HcEfc" />
</head>

<body>

  <%= render 'shared/header' %>

  <div id="fh5co-main">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <%= value %>
              </div>
            <% end %>
        </div>
      </div>
  </div>

    <%= yield %>

  <%= render 'shared/footer' %>
  </div>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
