<!DOCTYPE html>
<html>
<head>
  <title>PortfolioApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Google Webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= render 'shared/header' %>

  <div id="fh5co-main">
    <div id="fh5co-content">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <%= value %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

  <%= render 'shared/footer' %>
  </div>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
